body{
    background-color: rgb(25, 24, 24);
    display: inline;
}


.movie {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: left;
  }
  
  .movie img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    border: 2px solid #ddd;
  }
  
  .movie h3 {
    height: 60px;
    display: grid;
    align-items: left;
    text-overflow: ellipsis;
    justify-content: left;
    color: aliceblue;
    font-size: auto;
    margin-top:0%;
    margin-bottom: 0px;
  }
  
  .movie p{
    justify-content: left;
    color:aliceblue;
    margin-top: 0%;
    align-items: left;
  }